<!DOCTYPE html>
<html>
<head>
    <title>预定与取消</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/toast.min.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/toast.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/utils.js"></script>
</head>
<body>
<style>
.borderrow {
	width: 80%;
    margin-top: 25px;
    padding: 20px;
    border: solid 2px grey;
    border-radius: 10px;
    box-shadow: darkgrey 10px 10px 30px 5px;
}
</style>
<div class="container-fluid" id="app">
	<div class="row justify-content-center">
    <div class="row borderrow">
        <div class="col-md-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">预定与取消</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest.html">顾客信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="room.html">增删房间</a>
                </li>
                <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">用户：{{username}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <button class="dropdown-item" @click="logOut">登出</button>  
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="row borderrow">
        <div class="col-md-4 alert alert-info" style="margin: 0px;">
            查找可用的房间。
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="startDate">起始日期</label>
                <input type="date" :min="today" :max="dateEndInput" class="form-control" id="dateStart"
                v-model="dateStartInput" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="startDate">终止日期</label>
                <input type="date" :min="dateStartInput ? dateStartInput : today" class="form-control" id="dateEnd"
                v-model="dateEndInput" />
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block" style="margin-top: 2em;" @click="searchDateRoom">
                查找
            </button>
        </div>
    </div>
    </div>
    <div class="row justify-content-center" v-if="dateStart && dateEnd">
    <div class="row borderrow">
        <div class="col-md-12">
            <h3>
                日期 {{dateStart}} - {{dateEnd}} 下可用的房间。
            </h3>  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            房间号
                        </th>
                        <th>
                            房间价格
                        </th>
                        <th>
                            房间类型
                        </th>
                        <th style="width: 5em;">
                            预定
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dateRooms">
                        <td>
                            {{item.roomId}}
                        </td>
                        <td>
                            ￥{{item.roomPrice}}
                        </td>
                        <td>
                            {{item.roomType}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" @click="orderRoom(item)"
                            data-toggle="modal" data-target="#orderModal">
                                预订
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!-- 预定模态框 -->
    <div class="modal fade" id="orderModal">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">预定{{orderingRoom.roomType}}:{{orderingRoom.roomId}}房间</h4>
                <button type="button" class="close" @click='closeOrderModal' data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 10px;">
                    <div class="col-md-4 alert alert-info" style="margin: 0px;">
                        输入预定的客人/团体姓名。
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nameInput" placeholder="名字" style="margin-top: 0.5em;"
                        v-model="nameInput" @keyup.enter="searchName" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-block" style="margin-top: 0.5em;" @click="searchName">
                            查找
                        </button>
                    </div>
                </div>
                <div class="row" style="padding: 10px;" v-if="guestList.length">
                    <h5>个人预定</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    名字
                                </th>
                                <th>
                                    性别
                                </th>
                                <th>
                                    年龄
                                </th>
                                <th style="width: 5em;">
                                    预定
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in guestList">
                                <td>
                                    {{item.detail.guestName}}
                                </td>
                                <td>
                                    {{item.detail.guestSex ? '男' : '女'}}
                                </td>
                                <td>
                                    {{item.detail.guestAge}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" @click="confirmOrder(item)">
                                        预订
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="padding: 10px;" v-if="teamList.length">
                    <h5>团队预定</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    名字
                                </th>
                                <th>
                                    人数
                                </th>
                                <th>
                                    成员
                                </th>
                                <th style="width: 5em;">
                                    预定
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in teamList">
                                <td>
                                    {{item.detail.teamName}}
                                </td>
                                <td>
                                    {{item.detail.teamSize}}
                                </td>
                                <td>
                                    {{item.detail.guestList.map(item => item.guestName).join("，")}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" @click="confirmOrder(item)">
                                        预订
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click='closeOrderModal' data-dismiss="modal">关闭</button>
            </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="row borderrow">
        <div class="col-md-4 alert alert-warning" style="margin: 0px;">
            付款或取消预定。
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="date" placeholder="预定客人/团体名字" style="margin-top: 0.5em;"
            v-model="orderNameInput" @keyup.enter="searchOrderName" />
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block" style="margin-top: 0.5em;" @click="searchOrderName">
                搜索
            </button>
        </div>
    </div>
    </div>
    <div class="row justify-content-center" v-if="orderName">
    <div class="row borderrow">
        <div class="col-md-12">
            <h3>
                搜索到如下的客户。
            </h3>
            <div class="row" style="padding: 10px;" v-if="orderGuestList.length">
                <h5>个人</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                名字
                            </th>
                            <th>
                                性别
                            </th>
                            <th>
                                年龄
                            </th>
                            <th style="width: 5em;">
                                查看
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in orderGuestList">
                            <td>
                                {{item.detail.guestName}}
                            </td>
                            <td>
                                {{item.detail.guestSex ? '男' : '女'}}
                            </td>
                            <td>
                                {{item.detail.guestAge}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" @click="getOrders(item)"
                                data-toggle="modal" data-target="#detailModal">
                                    查看
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding: 10px;" v-if="orderTeamList.length">
                <h5>团队</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                名字
                            </th>
                            <th>
                                人数
                            </th>
                            <th>
                                成员
                            </th>
                            <th style="width: 5em;">
                                查看
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in orderTeamList">
                            <td>
                                {{item.detail.teamName}}
                            </td>
                            <td>
                                {{item.detail.teamSize}}
                            </td>
                            <td>
                                {{item.detail.guestList.map(item => item.guestName).join("，")}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" @click="getOrders(item)"
                                data-toggle="modal" data-target="#detailModal">
                                    查看
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!-- 顾客订单模态框 -->
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" v-if="dealingEntity.detail">
                    {{dealingEntity.isTeam ? '团队' : '个人'}}:
                    {{dealingEntity.isTeam ? dealingEntity.detail.teamName : dealingEntity.detail.guestName}}的订单详情
                </h4>
                <button type="button" class="close" @click='closeDetailModal' data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 10px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    订单号
                                </th>
                                <th>
                                    房间号
                                </th>
                                <th>
                                    起始日期
                                </th>
                                <th>
                                    终止日期
                                </th>
                                <th style="width: 5em;">
                                    付款
                                </th>
                                <th style="width: 5em;">
                                    取消
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in dealingOrders">
                                <td>
                                    {{item.orderId}}
                                </td>
                                <td>
                                    {{item.roomId}}
                                </td>
                                <td>
                                    {{item.startDate}}
                                </td>
                                <td>
                                    {{item.endDate}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" :disabled="item.orderStatus == 2" @click="payOrder(item)">
                                        付款
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" @click="cancelOrder(item)">
                                        取消
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click='closeDetailModal' data-dismiss="modal">关闭</button>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
var appVue = new Vue({
    el: '#app',
    data: {
        today: new Date().format("yyyy-MM-dd"),
        username: '',
        dateStartInput: '',
        dateEndInput: '',
        dateStart: '',
        dateEnd: '',
        dateRooms: [],
        orderingRoom: {},
        nameInput: '',
        guestList: [],
        teamList: [],
        orderNameInput: '',
        orderName: '',
        orderGuestList: [],
        orderTeamList: [],
        dealingEntity: {},
        dealingOrders: [],
    },
    async mounted() {
        this.username = await getUserName();
        if (!this.username) {
			window.location.href = 'login.html';
        }
    },
    methods: {
        logOut() {
			userLogOut();
			window.location.href = 'login.html';
		},
        async searchDateRoom() {
            if (!this.dateStartInput || !this.dateEndInput) {
                $.snack('error', '请选择起止日期！', 1500);
                return;
            }
            this.dateRooms = await callFunction('getAvailableRoomAt', [this.dateStartInput, this.dateEndInput]);
            this.dateStart = this.dateStartInput;
            this.dateEnd = this.dateEndInput;
        },
        orderRoom(room) {
            this.orderingRoom = room;
        },
        async searchName() {
            if (!this.nameInput) {
                $.snack('error', '请输入名字！', 1500);
                return;
            }
            results = await callFunction('getInfoByName', [this.nameInput]);
            this.guestList = results.filter((item) => !item.isTeam);
            this.teamList = results.filter((item) => item.isTeam);
        },
        async confirmOrder(entity) {
            let success;
            if (entity.isTeam) {
                success = await callFunction('createTeamOrder',
                    [entity.detail.teamId, this.orderingRoom.roomId, this.dateStart, this.dateEnd]);
            } else {
                success = await callFunction('createGuestOrder',
                    [entity.detail.guestId, this.orderingRoom.roomId, this.dateStart, this.dateEnd]);
            }
            if (success) {
                $.snack('success', '订单创建成功。', 1500);
            } else {
                $.snack('error', '订单创建失败！', 1500);
            }
            $('#orderModal').modal('hide');
            this.dateStart = '';
            this.dateEnd = '';
            this.dateRooms = [];
            this.closeOrderModal();
        },
        closeOrderModal() {
            this.orderingRoom = {};
            this.nameInput = '';
            this.guestList = [];
            this.teamList = [];
        },
        async searchOrderName() {
            if (!this.orderNameInput) {
                $.snack('error', '请输入名字！', 1500);
                return;
            }
            results = await callFunction('getInfoByName', [this.orderNameInput]);
            this.orderGuestList = results.filter((item) => !item.isTeam);
            this.orderTeamList = results.filter((item) => item.isTeam);
            this.orderName = this.orderNameInput;
        },
        async getOrders(entity) {
            this.dealingEntity = entity;
            let orders;
            if (entity.isTeam) {
                orders = await callFunction('getOrderInfoByTeamId', [entity.detail.teamId]);
            } else {
                orders = await callFunction('getOrderInfoByGuestId', [entity.detail.guestId]);
            }
            this.dealingOrders = orders.filter(item => item.orderStatus != 1);
        },
        async payOrder(order) {
            let success = await callFunction('payOrder', [order.orderId]);
            if (success) {
                $.snack('success', '订单支付成功。', 1500);
            } else {
                $.snack('error', '订单支付失败！', 1500);
            }
            $('#detailModal').modal('hide');
            this.orderName = '';
            this.orderGuestList = [];
            this.orderTeamList = [];
            this.closeDetailModal();
        },
        async cancelOrder(order) {
            let success = await callFunction('cancelOrder', [order.orderId]);
            if (success) {
                $.snack('success', '订单取消成功。', 1500);
            } else {
                $.snack('error', '订单取消失败！', 1500);
            }
            $('#detailModal').modal('hide');
            this.orderName = '';
            this.orderGuestList = [];
            this.orderTeamList = [];
            this.closeDetailModal();
        },
        closeDetailModal() {
            this.dealingEntity = {};
            this.dealingOrders = [];
        }
    }
})
</script>
</body>
</html>